.column1 {
  margin-left: 50px;
  float: left;
  width: 20%;
  height: 100%;
}
.column2 {
  float: left;
  width: 10%;
}
.column3 {
  float: left;
  width: 60%;
}
.column4 {
  float: left;
  width: 20%;
}
.circle {
  border: 0.1em solid grey;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  text-align: center;
  float: right;
  background: #5692e8;
  text-decoration-color: white;
}
.heading{
  color:#ffffff;
}
input, select, input:focus{
  background-color: #182c47;
  color: white;
}
input::placeholder {
  color: #96a3b5;
}
.panel {
  background-color: #0e1a2b;
}
.panelInner{
  margin: 25px;
}
